@import "tailwindcss";

@layer theme {
  @supports selector(::-webkit-scrollbar) {
    @media (hover: hover) {
      ::-webkit-scrollbar {
        width: 10px;
        height: 10px;
        border-radius: 10px;
      }

      ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: #666;
        border: 2px solid transparent;
        background-clip: content-box;
      }

      ::-webkit-scrollbar-thumb:active {
        background-color: #666;
      }

      ::-webkit-scrollbar-track {
        background: #1e1e1e;
      }

      ::-webkit-scrollbar-corner {
        background: #1e1e1e;
      }
    }
  }

  @supports not selector(::-webkit-scrollbar) {
    * {
      scrollbar-color: #1e1e1e transparent;
      scrollbar-width: thin;
    }
  }
}

@layer components {
  .selected-tags {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1rem;
    flex-wrap: wrap;
  }

  .tag {
    background-color: #f0f0f0;
    color: #333;
    padding: 0.25rem 0.5rem;
    border-radius: 4px;
    font-size: 0.9rem;
  }

  .tag button {
    margin-left: 0.25rem;
    font-size: 0.8rem;
    background: none;
    border: none;
    color: #777;
    cursor: pointer;
  }

  .available-tags {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1rem;
    flex-wrap: wrap;
  }

  .available-tags button {
    background-color: #e0e0e0;
    color: #333;
    padding: 0.25rem 0.5rem;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-size: 0.9rem;
  }

  .create-new-tag {
    display: flex;
    gap: 0.5rem;
  }

  .create-new-tag input {
    flex-grow: 1;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 0.9rem;
  }

  .create-new-tag button {
    background-color: #007bff;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-size: 0.9rem;
  }

  .empty-message {
    color: #777;
    font-size: 0.9rem;
  }
}
