---
import Button from "../components/Button.astro";
import CodeEditor from "../components/CodeEditor.tsx";
import Input from "../components/Input.astro";
import Typography from "../components/Typography.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <form id="snippet-form">
    <div class="mb-4">
      <Typography as="label" variant="h3" color="white" for="snippet-title">
        Title
      </Typography>
      <Input id="snippet-title" placeholder="Enter the title of the snippet" />
    </div>
    <div class="mb-4">
      <Typography
        as="label"
        variant="h3"
        color="white"
        for="snippet-description"
      >
        Description
      </Typography>
      <textarea
        id="snippet-description"
        name="snippet-description"
        class="block bg-[#1e1e1e] rounded-sm border-0 text-[#f1f1ef] focus:ring focus:ring-fuchsia-200 placeholder:text-neutral-600 shadow-lg py-2 px-3 w-full h-26 resize-none"
        placeholder="Enter the description of the snippet"></textarea>
    </div>
    <div class="mb-4">
      <Typography as="label" variant="h3" color="white" for="snippet-title">
        Snippet
      </Typography>
      <CodeEditor language="javascript" client:only />
    </div>

    <Button>Submit</Button>
  </form>
  <script>
    document.addEventListener("DOMContentLoaded", () => {
      const form = document.getElementById("snippet-form") as HTMLFormElement;

      if (!form) {
        throw new Error("Form not found");
      }

      form.addEventListener("submit", (event) => {
        event.preventDefault();
        const title =
          (document.getElementById("snippet-title") as HTMLInputElement)
            ?.value ?? null;
        const description =
          (document.getElementById("snippet-description") as HTMLInputElement)
            ?.value ?? null;
        const snippet =
          (document.getElementById("snippet") as HTMLInputElement)?.value ??
          null;

        console.log({
          title,
          description,
          snippet,
        });
      });
    });
  </script>
</Layout>
