---
import SearchBar from "@components/SearchBar.tsx";
import SnippetCard from "../components/SnippetCard.astro";
import Layout from "../layouts/Layout.astro";
import { getPublicSnippets } from "../service/snippets";

const snippets = await getPublicSnippets();
if (!snippets) {
  throw new Error("Failed to fetch snippets");
}
---

<Layout>
  <div class="mb-6">
    <SearchBar client:load />
  </div>
  <div class="grid md:grid-cols-3 grid-cols-1 gap-6">
    {snippets.map((snippet) => <SnippetCard snippet={snippet} />)}
  </div>
</Layout>
