---
import SnippetCard from "../components/SnippetCard.astro";
import Layout from "../layouts/Layout.astro";
import { getPublicSnippets } from "../service/snippets";

const snippets = await getPublicSnippets();
if (!snippets) {
  throw new Error("Failed to fetch snippets");
}
---

<Layout>
  <div class="grid md:grid-cols-3 grid-cols-1 gap-8">
    {
      snippets.map(({ id, title, description }) => (
        <SnippetCard id={id} title={title} description={description} />
      ))
    }
  </div>
</Layout>
