---
import SnippetCard from "../components/SnippetCard.astro";
import Layout from "../layouts/Layout.astro";
import { getPublicSnippets } from "../service/snippets";

const snippets = await getPublicSnippets();
if (!snippets) {
  throw new Error("Failed to fetch snippets");
}
---

<Layout>
  <div class="grid md:grid-cols-3 grid-cols-1 gap-6">
    {
      snippets.map(({ id, title, description, language }) => (
        <SnippetCard
          id={id}
          title={title}
          description={description}
          language={language}
        />
      ))
    }
  </div>
</Layout>
