---
import {
  SignedIn,
  SignedOut,
  SignInButton,
  UserButton,
} from "@clerk/astro/components";
import Button from "./Button.astro";
---

<SignedOut>
  <SignInButton mode="modal" asChild>
    <Button> Sign In </Button>
  </SignInButton>
</SignedOut>
<SignedIn>
  <UserButton
    showName
    appearance={{
      elements: {
        userButtonOuterIdentifier: "!text-[#f1f1ef]",
      },
    }}
  >
    <UserButton.MenuItems>
      <UserButton.Link label="My Snippet Library" href="/me/library">
        <svg
          slot="label-icon"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="1"
          stroke-linecap="round"
          stroke-linejoin="round"
          ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
            d="M5 4m0 1a1 1 0 0 1 1 -1h2a1 1 0 0 1 1 1v14a1 1 0 0 1 -1 1h-2a1 1 0 0 1 -1 -1z"
          ></path><path
            d="M9 4m0 1a1 1 0 0 1 1 -1h2a1 1 0 0 1 1 1v14a1 1 0 0 1 -1 1h-2a1 1 0 0 1 -1 -1z"
          ></path><path d="M5 8h4"></path><path d="M9 16h4"></path><path
            d="M13.803 4.56l2.184 -.53c.562 -.135 1.133 .19 1.282 .732l3.695 13.418a1.02 1.02 0 0 1 -.634 1.219l-.133 .041l-2.184 .53c-.562 .135 -1.133 -.19 -1.282 -.732l-3.695 -13.418a1.02 1.02 0 0 1 .634 -1.219l.133 -.041z"
          ></path><path d="M14 9l4 -1"></path><path d="M16 16l3.923 -.98"
          ></path></svg
        >
      </UserButton.Link>
      <UserButton.Link label="My Favorites" href="/me/favorites">
        <svg slot="label-icon" viewBox="0 0 24 24" fill="currentColor">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path
            d="M8.243 7.34l-6.38 .925l-.113 .023a1 1 0 0 0 -.44 1.684l4.622 4.499l-1.09 6.355l-.013 .11a1 1 0 0 0 1.464 .944l5.706 -3l5.693 3l.1 .046a1 1 0 0 0 1.352 -1.1l-1.091 -6.355l4.624 -4.5l.078 -.085a1 1 0 0 0 -.633 -1.62l-6.38 -.926l-2.852 -5.78a1 1 0 0 0 -1.794 0l-2.853 5.78z"
          ></path>
        </svg>
      </UserButton.Link>
    </UserButton.MenuItems>
  </UserButton>
</SignedIn>
