---
import AuthNav from "../components/AuthNav.astro";
import Typography from "../components/Typography.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body
    class="bg-[#121212] bg-[linear-gradient(to_right,#8080800a_1px,transparent_1px),linear-gradient(to_bottom,#8080800a_1px,transparent_1px)] bg-[size:14px_24px] flex flex-col min-h-screen"
  >
    <header>
      <nav class="fixed w-full z-20 top-0 start-0 backdrop-blur-lg">
        <div
          class="max-w-6xl flex flex-wrap items-center md:justify-between justify-center md:gap-0 gap-4 mx-auto px-6 py-4"
        >
          <a href="/" class="flex items-center space-x-3">
            <Typography
              as="span"
              variant="h3"
              color="white"
              class="self-center whitespace-nowrap"
            >
              SnippetsHub
            </Typography>
          </a>
          <!--    <NavMenu /> -->
          <div>
            <AuthNav />
          </div>
        </div>
      </nav>
    </header>
    <main class="grow w-full max-w-6xl mx-auto pt-36 pb-12 px-6">
      <slot />
    </main>
    <footer></footer>
  </body>
</html>
