---
import Button from "@components/Button.astro";
import ChevronRightIcon from "@public/icons/chevron-right.svg";
import CodeBracketIcon from "@public/icons/code-bracket.svg";
import HomeIcon from "@public/icons/home.svg";
import PlusIcon from "@public/icons/plus.svg";
import AuthNav from "../components/AuthNav.astro";
import NavMenu from "../components/NavMenu.astro";
import Typography from "../components/Typography.astro";
import "../styles/global.css";

interface Props {
  id: string;
  title?: string;
}

const { title = "SnippetHub", id } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title ? `${title} - SnippetHub` : "SnippetHub"}</title>
  </head>
  <body
    class="bg-[#121212] bg-[linear-gradient(to_right,#8080800a_1px,transparent_1px),linear-gradient(to_bottom,#8080800a_1px,transparent_1px)] bg-[size:14px_24px] flex flex-col min-h-screen"
  >
    <header class="fixed w-full z-20 top-0 start-0 backdrop-blur-lg">
      <div
        class="flex flex-wrap items-center justify-start md:gap-8 gap-4 mx-auto px-4 py-4"
      >
        <a href="/" class="flex items-center space-x-3">
          <CodeBracketIcon stroke="#f1f1ef" />
          <Typography
            as="span"
            variant="h3"
            color="white"
            class="self-center whitespace-nowrap"
          >
            SnippetHub
          </Typography>
        </a>
        <nav>
          <NavMenu />
        </nav>
        <div class="flex items-center md:order-2 gap-4 ml-auto">
          <Button as="a" href="/snippet/add">
            <PlusIcon width={20} height={20} />
            New Snippet
          </Button>
          <AuthNav />
        </div>
      </div>
    </header>
    <div class="grow w-full max-w-[1800px] mx-auto pt-22 pb-12">
      <nav aria-label="breadcrumb" class="mb-6">
        <ol
          class="flex flex-wrap items-center gap-1.5 break-words text-body text-neutral-300"
        >
          <li class="inline-flex items-center gap-1.5">
            <a class="transition-colors hover:text-foreground" href="/">
              <HomeIcon width={16} height={16} />
            </a>
          </li>
          <li role="presentation" aria-hidden="true" class="[&>svg]:size-3.5">
            <ChevronRightIcon width={16} height={16} />
          </li>
          <li class="inline-flex items-center gap-1.5">
            <a class="transition-colors hover:text-foreground" href="/">
              Explore
            </a>
          </li>
          <li role="presentation" aria-hidden="true" class="[&>svg]:size-3.5">
            <ChevronRightIcon width={16} height={16} />
          </li>
          <li class="inline-flex items-center gap-1.5" aria-current="page">
            <a
              class="transition-colors hover:text-foreground"
              href={`/snippet/${id}`}
            >
              {title}
            </a>
          </li>
        </ol>
      </nav>

      <div class="grid grid-cols-4">
        <main class="col-span-3">
          <div class="border border-white/10 rounded bg-black/15 p-8">
            <slot />
          </div>
        </main>
        <aside class="cols-span-1 h-screen px-4" aria-label="Sidebar">
          <slot name="aside" />
        </aside>
      </div>
    </div>
    <footer></footer>
  </body>
</html>
